@tailwind base;
@tailwind components;
@tailwind utilities;

/** desktop style **/
@media screen, print and (min-width: 1080px) {
  .block-container div.grid-item {
    width: 33.33%;
  }

  #hero-section {
    height: calc(100vh - 80px);
  }

  div.service-item {
    min-height: unset;
  }
}

/** table style **/
@media screen, print and (min-width: 768px) and (max-width: 1080px) {
  .grid-item {
    width: 50%;
  }
}


/** Slider demo **/
body {
  margin: 0;
  font-family: "Roboto Mono";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--outer-spce-grey-color);
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  max-height: 100vh;
}

:root {
  --outer-spce-grey-color: #303841;
  --safety-orange-color: #ff7700;
  --navy-blue-color: #1cd6ce;
}

.primary-color {
  background-color: var(--safety-orange-color);
}

.secondary-color {
  background-color: var(--outer-spce-grey-color);
}

.link-color {
  color: var(--navy-blue-color);
}

#mobile-nav-slider-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  animation: 0.3s ease-in 0s 1 normal none running mobile-nav-container-opacity;
}

@keyframes mobile-nav-container-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

#mobile-nav {
  position: absolute;
  width: 85%;
  min-height: 100vh;
  right: 0;
  animation: 0.6s ease-in 0s 1 normal none running mobile-nav-slidein;
}

@keyframes mobile-nav-slidein {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

#hero-section {
  width: auto;
  padding: 30px 20px;
  background-image: url('../public/images/computer.jpg');
  background-size: cover;
}

/** Service **/

.service-item {
  border-radius: 1rem;
  border-color: var(--safety-orange-color);
}

/** Navigation **/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.sticky + .content {
  padding-top: 64px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

/** mobile style **/
@media screen, print and (max-width: 768px) {
  div.grid-item {
    width: 100%;
  }

  .block-container {
    width: calc(100% - 32px);
  }

  .service-item {
      min-height: calc(100vw - 32px);
  }
}