@tailwind base;
@tailwind components;
@tailwind utilities;

/** Slider demo **/
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--outer-spce-grey-color);
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  max-height: 100vh;
}

:root {
  --outer-spce-grey-color: #303841;
  --safety-orange-color: #ff7700;
  --navy-blue-color: #1cd6ce;
}

.primary-color {
  background-color: var(--safety-orange-color);
}

.secondary-color {
  background-color: var(--outer-spce-grey-color);
}

.link-color {
  color: var(--navy-blue-color);
}

#mobile-nav-slider-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  animation: 0.3s ease-in 0s 1 normal none running mobile-nav-container-opacity;
}

@keyframes mobile-nav-container-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

#mobile-nav {
  position: absolute;
  width: 85%;
  min-height: 100vh;
  right: 0;
  animation: 0.6s ease-in 0s 1 normal none running mobile-nav-slidein;
}

@keyframes mobile-nav-slidein {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

#hero-section {
  height: 300px;
  width: auto;
  padding: 30px 20px;
}

#hero-title {
  margin-bottom: 20px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

/** Service **/

.service-item {
  border-radius: 1rem 8rem 1rem 1rem;
  margin-bottom: 20px;
  border-color: var(--safety-orange-color);
}

.width-col-2 {
  width: calc(100% - 2rem);
}

/** table style **/
@media screen and (min-width: 768px) {
  #hero-section {
    height: calc(100vh - 72px);
  }

  .width-col-2 {
    max-width: 25%;
  }
}
